{% extends "navigation.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row my-5">
            <div class="col-4 mx-auto">
                    <h1 class="h4 mb-3 font-weight-normal">{% trans 'Please sign in' %}</h1>
            </div>
        </div>
        {% if form.errors %}
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="alert alert-danger" role="alert">
                    <strong>{% trans "Your username and password didn't match. Please try again." %}</strong>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row mb-5">
            <div class="col-4 mx-auto">

                    <label for="inputUsername" class="sr-only">Username</label>
                    <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">

            </div>
        </div>
        <div class="row mb-5">
            <div class="col-4 mx-auto">

                    <button class="btn btn-lg btn-sh btn-block" type="submit">Sign in</button>
                    <input type="hidden" name="next" value="{{ next }}">
                
            </div>
        </div>
    </form>
</div>
{% endblock %}