# Development environment
.venv
.vscode

# Production environment
.env

# Python cache
__pycache__

# Development database
db.sqlite
db.sqlite-journal

# Production files
stayhome/stayhome/locales.zip
stayhome/datasets/post_data.csv
stayhome/stayhome/staticfiles/

# Translations binary files (generates on deployment)
*.mo

# stunnel log
stunnel.log


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


# NPN
stayhome/node_modules/
