<div class="container-fluid p-0 m-0">

  <div class="container my-0 mt-md-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">

      <a class="align-self-end navbar-brand mr-5 mb-1" href="/">
        <img alt src="assets/pubsite/stay_home_logo_2_crop.jpg" class="sh-home-logo" />
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="align-self-end collapse navbar-collapse mb-1" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">{{ 'Home' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">{{ 'Contact us' | translate}}</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link lang-select mr-1 sh-nav-link" href="#" data-lang="en">EN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lang-select mr-1 sh-nav-link" href="#" data-lang="fr">FR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lang-select mr-1 sh-nav-link" href="#" data-lang="de">DE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lang-select mr-2 sh-nav-link" href="#" data-lang="it">IT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3 sh-nav-link" href="https://www.facebook.com/stayhome.ch" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="btn btn-sm btn-sh" href="/'add'/">{{ 'Add a delivery service' | translate}}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <router-outlet></router-outlet>

  <div class="sh-container-dark">
    <div class="container">
      <div class="col-12 text-center px-0 py-2 py-md-5">
        <a href="/about/">
          <img alt src="assets/pubsite/img/logo_round_pin.png" class="sh-bottom-logo" />
        </a>
      </div>
      <div class="col-11 col-md-4 text-center mx-auto px-0 py-2 py-md-5 sh-copyright">
        <p class="mb-0">&copy; 2020 <a href="/about/">stayhome.ch</a> - {{ 'All rights reserved' | translate}}</p>
        <p class="mt-0">Contributor <a href="/contribute/">{{ 'Sign in' | translate}}</a></p>
      </div>
    </div>
  </div>

</div>
<div class="modal" tabindex="-1" role="dialog" id="reportModal">
  <div class="modal-dialog mw-100 w-50" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-bug mr-2"></i>{{ 'Report an issue' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="reportModalBody">
        <form id="reportForm">
          # csrf_token %}
          <input type="hidden" value="None" name="pk" id="modalPk" />
          <input type="hidden" value="# npa.pk }}" name="reportNpa" />
          <p class="font-weight-bold">{{ 'Damn... despite our efforts you found an issue...' | translate }}</p>
          <p>{{ 'Can you help us by describing what the problem is ?' | translate }}</p>
          <p class="px-4 py-0 mb-1"><input type="radio" name="reportType" class="mr-2" value="Bad information" required />{{ 'Wrong or missing information. Please enter details in the field below.' | translate }}</p>
          <p class="px-4 py-0 mb-1"><input type="radio" name="reportType" class="mr-2" value="Bad delivery perimeter" required />{{ 'This service does not deliver to my place !' | translate }}</p>
          <p class="px-4 py-0"><input type="radio" name="reportType" class="mr-2" value="Other" required />{{ 'Other. Please enter details in the field below.' | translate }}</p>
          <textarea class="form-control" name="reportDetails" rows="5"></textarea>
        </form>
      </div>
      <div class="modal-body" id="reportModalBodyConfirmation" style="display: none;">{{ 'Thank you for your report !' | translate }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">{{ 'Close' | translate}}</button>
        <button type="button" class="btn btn-sm btn-sh sh-report-btn">{{ 'Report' | translate}}</button>
      </div>
    </div>
  </div>
</div>
