BODY {
    font-family: 'Open Sans', sans-serif;
}

A {
  color: seagreen;
}

A:hover:not(.btn) {
  color: seagreen;
  font-weight: bold;
  text-decoration: none;
}

.sh-home-logo {
    height: 15vh;
    margin-bottom: 5vh;
}

.sh-location-marker {
    width: 50px;
    padding: 0;
    margin: 0;
    font-size: 1.6em;
}

.sh-ofsp-icon {
    color: seagreen;
    font-size: 2em;
}

.navbar-custom {
    background-color: transparent;
}

.navbar-custom .navbar-text {
    color: black;
    padding: 8px;
    margin: 0;
}

.navbar-custom .nav-item .nav-link {
    color: seagreen;
    padding: 8px;
    margin: 0;
}

.navbar-custom .nav-item:hover .nav-link {
    color: seagreen;
    text-decoration: none;
}

#left-nav {
    border-right: 1px solid #dee2e6!important;
}

#radius-slider .ui-slider-range {
    background-color: seagreen;
    opacity: 60%;
}

#radius-slider .ui-state-active {
    background-color: seagreen;
}

.card-header {
    padding: 8px 16px;
}

.card-body {
    padding: 16px;
}

.card-info {
    font-size: .9em;
}

.sh-crop {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em;
}

.card-footer {
    font-size: .9em;
}

.select2-results__option[aria-selected=true] {
    display: none;
}

.sh-table-head {
    background-color: #bbb;
}

.sh-table-row {
    background-color: #ddd;
}

@media(max-width: 767px) {

    .navbar-custom .navbar-text {
        padding: 0 8px;
    }

    .navbar-custom .navbar-collapse .nav-item {
        padding: 8px;
        border-top: 1px solid #dee2e6!important;
    }

    #left-nav {
        border: none!important;
    }

}