{% extends "contribute.html" %}
{% load i18n %}

{% block modal %}
<div class="modal fade" id="request_drop_modal" tabindex="-1" role="dialog" aria-labelledby="request_drop_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation required</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to drop this request ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="drop_request_confirm">Delete request</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
        </div>
    </div>
</div>
{% endblock %}

{% block contrib-content %}
{% if errors %}
<div class="alert alert-danger">
<span class="alert-title">{% trans 'Some validation errors occured:' %}</span>
<ul class="mb-0 mt-1">
{% for error in errors %}<li>{{ error }}</li>{% endfor %}
</ul>
</div>
{% endif %}
<form id="businessAddForm" _lpchecked="1" method="post" action="{% url 'mgmt:convert' object.uuid %}">
{% csrf_token %}
<input type="hidden" name="parent_request" value="{{ object.uuid }}" />
<input type="hidden" name="prefix" value="{{ prefix }}" />
<div class="row mb-5">
    <div class="col-12 px-3 pb-3">
        <table class="container-fluid" style="width: 100%">
            <tr class="row p-3 border-top border-bottom">
                <td class="col-2 p-2">
                    <strong>Business name</strong>
                </td>
                <td class="col-4 p-2 border" id="request-name">
                    {{ object.name }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='name' %}
                <td class="col-5 p-2">
                    <input type="text" name="name" id="id_name" class="form-control" required />
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Description</strong>
                </td>
                <td class="col-4 p-2 border" id="request-description">
                    {{ object.description }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='description' %}
                <td class="col-5 p-2">
                    <textarea name="description" cols="40" rows="10" id="id_description" class="form-control" required></textarea>
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Categories</strong>
                </td>
                <td class="col-4 p-2 border">
                    {{ object.category }}
                </td>
                <td class="col-1"></td>
                <td class="col-5 p-2">
                    <p class="font-weight-bold m-0 mb-2">Main category</p>
                    <select name="main_category" id="id_main_category" class="form-control sh-select2" data-lookup-url="{% url 'mgmt:lookup' 'category' %}"></select>
                    <p class="font-weight-bold m-0 mt-3 mb-2">Other categories</p>
                    <select name="other_categories" id="id_other_categories" class="form-control sh-select2" data-lookup-url="{% url 'mgmt:lookup' 'category' %}" multiple></select>
                    <p class="font-weight-bold m-0 mt-3 mb-0">New categories</p>
                    <ul class="font-weight-light">
                        <li>Existing parent categories: {{ parent_categories|join:", " }}.</li>
                        <li>Always enter the categories on the form &lt;parent_category&gt;<strong>/</strong>&lt;child_category&gt;.
                        <li>Several categories can be specified, separated by commas.</li>
                        <li>First one will be main category if none selected above.</li>
                    </ul>
                    <input type="text" name="new_categories" id="id_new_categories" class="form-control" />
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Delivery perimeter</strong>
                </td>
                <td class="col-4 p-2 border">
                    {{ object.delivery }}
                </td>
                <td class="col-1"></td>
                <td class="col-5 p-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="id_delivers_to_ch" name="delivers_to_ch">
                        <label class="form-check-label" for="id_delivers_to_ch">
                            <span class="font-weight-bold">Delivers to whole Switzerland</span>
                        </label>
                    </div>
                    <p class="font-weight-bold m-0 mt-3 mb-2">Cantons</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.delivers_to_canton %}
                    <select name="delivers_to_canton" id="id_delivers_to_canton" class="form-control sh-select2" data-lookup-url="{% url 'mgmt:lookup' 'canton' %}" multiple></select>
                    <p class="font-weight-bold m-0 mt-3 mb-2">Districts</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.delivers_to_district %}
                    <select name="delivers_to_district" id="id_delivers_to_district" class="form-control sh-select2" data-lookup-url="{% url 'mgmt:lookup' 'district' %}" multiple></select>
                    <p class="font-weight-bold m-0 mt-3 mb-2">Municipalities</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.delivers_to_municipality %}
                    <select name="delivers_to_municipality" id="id_delivers_to_municipality" class="form-control sh-select2" data-lookup-url="{% url 'mgmt:lookup' 'municipality' %}" multiple></select>
                    <p class="font-weight-bold m-0 mt-3 mb-2">Postal codes</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.delivers_to %}
                    <select name="delivers_to" id="id_delivers_to" class="form-control sh-select2" data-lookup-url="{% url 'mgmt:lookup' 'npa' %}" multiple></select>
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Raw contact information</strong>
                </td>
                <td class="col-10 p-2 border">
                    {{ object.contact }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Address</strong>
                </td>
                <td class="col-4 p-2 border" id="request-address">
                    {{ object.address }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='address' %}
                <td class="col-5 p-2">
                    <input type="text" name="address" id="id_address" class="form-control" required />
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>City</strong>
                </td>
                <td class="col-4 p-2 border" id="request-location">
                    {{ object.location }}
                </td>
                <td class="col-1"></td>
                <td class="col-5 p-2">
                    <select name="location" id="id_location" class="form-control sh-select2" data-lookup-url="{% url 'mgmt:lookup' 'npa' %}"></select>
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Website</strong>
                </td>
                <td class="col-4 p-2 border" id="request-website">
                    {{ object.website }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='website' %}
                <td class="col-5 p-2">
                    <input type="url" name="website" id="id_website" class="form-control" />
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Phone</strong>
                </td>
                <td class="col-4 p-2 border" id="request-phone">
                    {{ object.phone }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='phone' %}
                <td class="col-5 p-2">
                    <input type="text" name="phone" id="id_phone" class="form-control" />
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>E-mail</strong>
                </td>
                <td class="col-4 p-2 border" id="request-email">
                    {{ object.email }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='email' %}
                <td class="col-5 p-2">
                    <input type="email" name="email" id="id_email" class="form-control" />
                </td>
            </tr>
            <tr class="row p-3">
                <td class="col-6 p-2 text-left">
                    <button class="btn btn-sm btn-outline-danger" id="drop_request_btn" type="button">Drop request</button>
                    <a href="{{ cancel }}" class="btn btn-sm btn-outline-secondary">Cancel</a>
                </td>
                <td class="col-6 p-2 text-right">
                    <button class="btn btn-sm btn-outline-secondary" type="submit" name="next" value="{{ next }}">Create business and go to next request</button>
                    <button class="btn btn-sm btn-primary" type="submit" name="next" value="{{ return }}">Create business</button>
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
{% endblock %}

{% block script %}
<script>

    $(document).ready(() => {

        // Select NPA option
        window.selectNPA = (data) => {
            var newOption = new Option(data.text, data.id, true, true);
            $('#id_location').append(newOption).trigger('change');
        }

        // Actions
        window.copyFromRequest = (field) => {
            var value = $('#request-' + field).html().trim();
            if (field == 'website' && !value.startsWith('http')) {
                value = 'http://' + value;
            }
            if (field == 'phone' && value.startsWith('0')) {
                value = value.replace(/^0/, '+41');
            }
            $("[name='" + field + "']").val(value);
        }
        window.clearBusiness = (field) => {
            $("[name='" + field + "']").val('');
        }

        // Try to find NPA in location
        var q = false;
        var npa_pk = [...$('#request-location').html().matchAll(/\[(PK:[0-9]+)\]/g)];
        if (npa_pk.length > 0 && npa_pk[0].length > 0) {
            q = npa_pk[0][1];
        } else {
            var npa = $('#request-location').html().match(/[0-9]{4}/);
            if (npa) {
                q = npa[0];
            }
        }
        if (q) {

            // Query for matching NPA
            $.getJSON(
                '{% url 'mgmt:lookup' 'npa' %}', 
                { 'q': q },
                (data) => {
                    results = data.results;
                    if (results.length == 1) {
                        selectNPA(results[0]);
                    }
                    else if (results.length > 1) {
                        var bt = '<p>Found multiple possibilites :'
                        results.forEach((el) => { 
                            bt += '&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:selectNPA({id:\'' + el.id + '\', text:\'' + el.text + '\'})">' + el.text + '</a>';
                        });
                        bt += '</p>';
                        $("select[name='location']").before(bt);
                    }
                }
            );

        }


        // Selects
        $('.sh-select2').each((index, item) => {

            $(item).select2({
                minimumInputLength: 3,
                selectOnClose: true,
                ajax: {
                    url: $(item).data('lookup-url'),
                    dataType: 'json'
                }
            }).on('change', (event) => {
                $(event.target).find('option').removeAttr('selected');
                $(event.target).find(':selected').attr('selected','selected');
            });

        });

        // Drop button
        $('#drop_request_btn').on('click', (event) => {
            $('#request_drop_modal').modal();
            event.preventDefault();
        });
        $('#drop_request_confirm').on('click', (event) => {
            event.preventDefault();
            window.location = "{% url 'mgmt:'|add:prefix|add:'drop' object.pk %}";
        });
    });

</script>
{% endblock %}