{% extends "contribute.html" %}
{% load i18n %}

{% block modal %}
<div class="modal fade" id="request_drop_modal" tabindex="-1" role="dialog" aria-labelledby="request_drop_modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation required</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to drop this request ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="drop_request_confirm">Delete request</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div>
        </div>
    </div>
</div>
{% endblock %}

{% block contrib-content %}
<form id="businessAddForm" _lpchecked="1" method="post" action="{% url 'mgmt:convert' object.uuid %}">
{% csrf_token %}
<input type="hidden" name="parent_request" value="{{ object.uuid }}" />
<div class="row mb-5">
    <div class="col-12 px-3 pb-3">
        <table class="container-fluid" style="width: 100%">
            <tr class="row p-3 border-top border-bottom">
                <td class="col-2 p-2">
                    <strong>Business name</strong>
                </td>
                <td class="col-4 p-2 border" id="request-name">
                    {{ object.name }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='name' %}
                <td class="col-5 p-2">
                    {% include 'includes/requests_convert_errors.html' with field=form.name %}
                    {{ form.name }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Description</strong>
                </td>
                <td class="col-4 p-2 border" id="request-description">
                    {{ object.description }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='description' %}
                <td class="col-5 p-2">
                    {% include 'includes/requests_convert_errors.html' with field=form.description %}
                    {{ form.description }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Categories</strong>
                </td>
                <td class="col-4 p-2 border">
                    {{ object.category }}
                </td>
                <td class="col-1"></td>
                <td class="col-5 p-2">
                    <p class="font-weight-bold m-0 mb-2">Main category</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.main_category %}
                    {{ form.main_category }}
                    <p class="font-weight-bold m-0 mt-3 mb-2">Other categories</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.other_categories %}
                    {{ form.other_categories }}
                    <p class="font-weight-bold m-0 mt-3 mb-0">New categories</p>
                    <p class="font-weight-light m-0 mt-0 mb-2">"XXX" or "XXX/XXX", separated by commas<br/>First one will be main category if none selected above</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.new_categories %}
                    {{ form.new_categories }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Delivery perimeter</strong>
                </td>
                <td class="col-4 p-2 border">
                    {{ object.delivery }}
                </td>
                <td class="col-1"></td>
                <td class="col-5 p-2">
                    {% include 'includes/requests_convert_errors.html' with field=form.delivers_to_ch %}
                    {{ form.delivers_to_ch }}&nbsp;&nbsp;<span class="font-weight-bold">{{ form.delivers_to_ch.label }}</span>
                    <p class="font-weight-bold m-0 mt-3 mb-2">Cantons</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.delivers_to_canton %}
                    {{ form.delivers_to_canton }}
                    <p class="font-weight-bold m-0 mt-3 mb-2">Districts</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.delivers_to_district %}
                    {{ form.delivers_to_district }}
                    <p class="font-weight-bold m-0 mt-3 mb-2">Municipalities</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.delivers_to_municipality %}
                    {{ form.delivers_to_municipality }}
                    <p class="font-weight-bold m-0 mt-3 mb-2">Postal codes</p>
                    {% include 'includes/requests_convert_errors.html' with field=form.delivers_to %}
                    {{ form.delivers_to }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Raw contact information</strong>
                </td>
                <td class="col-10 p-2 border">
                    {{ object.contact }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Address</strong>
                </td>
                <td class="col-4 p-2 border" id="request-address">
                    {{ object.address }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='address' %}
                <td class="col-5 p-2">
                    {% include 'includes/requests_convert_errors.html' with field=form.address %}
                    {{ form.address }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>City</strong>
                </td>
                <td class="col-4 p-2 border" id="request-location">
                    {{ object.location }}
                </td>
                <td class="col-1"></td>
                <td class="col-5 p-2">
                    {% include 'includes/requests_convert_errors.html' with field=form.location %}
                    {{ form.location }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Website</strong>
                </td>
                <td class="col-4 p-2 border" id="request-website">
                    {{ object.website }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='website' %}
                <td class="col-5 p-2">
                    {% include 'includes/requests_convert_errors.html' with field=form.website %}
                    {{ form.website }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>Phone</strong>
                </td>
                <td class="col-4 p-2 border" id="request-phone">
                    {{ object.phone }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='phone' %}
                <td class="col-5 p-2">
                    {% include 'includes/requests_convert_errors.html' with field=form.phone %}
                    {{ form.phone }}
                </td>
            </tr>
            <tr class="row p-3 border-bottom">
                <td class="col-2 p-2">
                    <strong>E-mail</strong>
                </td>
                <td class="col-4 p-2 border" id="request-email">
                    {{ object.email }}
                </td>
                {% include "includes/requests_convert_actions.html" with field='email' %}
                <td class="col-5 p-2">
                    {% include 'includes/requests_convert_errors.html' with field=form.email %}
                    {{ form.email }}
                </td>
            </tr>
            <tr class="row p-3">
                <td class="col-6 p-2 text-left">
                    <button class="btn btn-sm btn-outline-danger" id="drop_request_btn" type="button">Drop request</button>
                    <a href="{{ return }}" class="btn btn-sm btn-outline-secondary">Cancel</a>
                </td>
                <td class="col-6 p-2 text-right">
                    <button class="btn btn-sm btn-outline-secondary" type="submit" name="next" value="{{ next }}">Create business and go to next request</button>
                    <button class="btn btn-sm btn-primary" type="submit" name="next" value="{{ return }}">Create business</button>
                </td>
            </tr>
        </table>
    </div>
</div>
</form>
{% endblock %}

{% block script %}
<script>

    $(document).ready(() => {

        // Styling of form elements
        $('#businessAddForm').find('textarea, input:not([type="checkbox"]), select').addClass('form-control');

        // Select NPA option
        window.selectNPA = (npa) => {
            let val = $("select[name='location'] option:contains(" + npa + ")").val();
            $('[name="location"]').val(val).trigger('change.select2');
        }

        // Actions
        window.copyFromRequest = (field) => {
            $("[name='" + field + "']").val($('#request-' + field).html().trim());
            $('#businessAddForm').get(0).reportValidity();
        }
        window.clearBusiness = (field) => {
            $("[name='" + field + "']").val('');
        }

        // Try to find NPA in location
        var npa_pk = [...$('#request-location').html().matchAll(/\[PK:([0-9]+)\]/g)];
        if (npa_pk.length > 0 && npa_pk[0].length > 0) {
            $('[name="location"]').val(npa_pk[0][1]).trigger('change.select2');
        } else {
            var npa = $('#request-location').html().match(/[0-9]{4}/);
            if (npa) {
                $.getJSON(
                    '{% url 'location' %}', 
                    { 'q': npa[0] },
                    (data) => {
                        if (data.length == 1) {
                            selectNPA(data[0]);
                        }
                        else if (data.length > 1) {
                            var bt = '<p>Found multiple possibilites :'
                            data.forEach((el) => { 
                                bt += '&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:selectNPA(\'' + el + '\')">' + el + '</a>';
                            });
                            bt += '</p>';
                            $("select[name='location']").before(bt);
                        }
                    }
                );
            }
        }

        // Categories
        $('[name="location"]').select2();
        $('[name="main_category"]').select2();
        $('[name="other_categories"]').select2();
        $('[name="delivers_to"]').select2();
        $('[name="delivers_to_municipality"]').select2();
        $('[name="delivers_to_district"]').select2();
        $('[name="delivers_to_canton"]').select2();

        // Drop button
        $('#drop_request_btn').on('click', (event) => {
            $('#request_drop_modal').modal();
            event.preventDefault();
        });
        $('#drop_request_confirm').on('click', (event) => {
            event.preventDefault();
            window.location = "{% url 'mgmt:'|add:prefix|add:'drop' object.pk %}";
        });
    });

</script>
{% endblock %}