{% extends "navigation.html" %}
{% load i18n %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-5 p-3">
            <h1 class="pb-2">{% blocktrans %}Add your business{% endblocktrans %}</h1>
            <p>{% blocktrans %}List your business here on stayhome.ch to show that it is still there for customers. Please note that only services can be offered that do NOT require direct contact with customers!{% endblocktrans %}</p>
            <p>{% blocktrans %}Please be as complete as possible when filling the form, especially about the description of your service and the delivery locations.{% endblocktrans %}</p>
            <p>{% blocktrans %}It may take up to 24 hours to process your request. Thank you for your patience.{% endblocktrans %}</p>
            <p>{% blocktrans %}If you have any questions, please{% endblocktrans %} <a href="{% url 'about' %}">{% trans 'contact us' %}</a>.</p>
        </div>
        <div class="col-12 offset-md-1 col-md-6">
            <form method="POST" action="{% url 'add' %}">
                {% csrf_token %}

                {% for field in form %}

                    <p class="m-0 mt-3 p-0">{{ field.label }} {% if field.field.required %}*{% endif %}</p>
                    <small id="inputNameHelp" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                    </div>
                    {% endif %}
                    {{ field }}

                {% endfor %}

                <button class="btn btn-success push-center my-3" type="submit">{% blocktrans %}Send your request{% endblocktrans %}</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
    
        $(document).ready(() => {
            $('[name="location"]').select2();
        });
    
    </script>

{% endblock %}