{% load i18n static sh_tags %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={% google_ua %}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{% google_ua %}');
    </script>

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css" rel="stylesheet" />
    {% render_bundle 'css/stayhome' %}

    <link rel="shortcut icon" type="image/jpg" href="/favicon.png"/>

    <title>{% blocktrans %}Stay home ! We deliver...{% endblocktrans %}</title>

    <meta name="description" content="{% blocktrans %}StayHome.ch is a directory of delivery services available in Switzerland based on visitor's location. It has been created to help Swiss people and businesses coping with the COVID-19 crisis.{% endblocktrans %}" />

    <meta property="og:title" content="{% blocktrans %}Stay home ! We deliver...{% endblocktrans %}">
    <meta property="og:description" content="{% blocktrans %}StayHome.ch is a directory of delivery services available in Switzerland based on visitor's location. It has been created to help Swiss people and businesses coping with the COVID-19 crisis.{% endblocktrans %}">
    <meta property="og:image" content="https://www.stayhome.ch{% static 'pubsite/stay_home_banner.jpg' %}">
    <meta property="og:url" content="https://www.stayhome.ch/">
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="2714022128726331">

  </head>
  <body>
    
    {% block modal %}{% endblock %}

    {% block navigation %}{% endblock %}

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.2/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js"></script>

    <script>

      $(document).ready(() => {

        $(function () {
         $('[data-toggle="tooltip"]').tooltip()
        })

        // Language change
        $('.lang-select').on('click', (event) => {
            event.preventDefault();
            var lang = $(event.target).data('lang');
            $.ajax({
                url: "{% url 'set_language' %}",
                headers: {
                    'X-CSRFToken': Cookies.get('csrftoken')
                },
                data: {
                    'language': lang
                },
                method: 'POST',
                success: () => {
                    location.reload();
                }
            });
        });

      });

    </script>

    {% block script %}{% endblock %}

  </body>
</html>