{% extends "navigation.html" %}
{% load mptt_tags i18n %}

{% block content %}
<div class="container border-top">
        <div class="row">
            {% if businesses|length > 0 %}
            <div class="col-xs-12 col-md-3 p3" id="left-nav">
                <div class="row border-bottom p-0">
                    <div class="col-12 pt-3">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control form-control-sm" id="searchInput" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
                <div class="row border-bottom p-0 nav-filter">
                    <div class="col-12 pt-3">{% blocktrans %}Categories:{% endblocktrans %}</div>
                    <div id="cloud">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 p-0 pt-3 px-3 pr-md-0">
                <div class="alert alert-warning" role="alert" id="allFiltered" style="display: none;">
                    {% blocktrans %}Nothing left to show, try changing your filters.{% endblocktrans %}
                </div>
                {% for business in businesses %}
                    <div class="card mb-3 cat-{{ business.main_category.get_class }}{% for category in business.other_categories.all %} cat-{{ category.get_class }}{% endfor %}" data-categories="{{ business.main_category.get_path }} {% for category in business.other_categories.all %}{{ category.get_path }}{% endfor %}" data-name="{{ business.name }}" data-radius="{{ business.radius }}">
                        <div class="card-header">
                            <span class="badge badge-secondary badge-{{ business.main_category.get_class }}">{{ business.main_category.get_path }}</span>
                            {% for category in business.other_categories.all %}
                                <span class="badge badge-secondary badge-{{ category.get_class }}">{{ category.get_path }}</span>
                            {% endfor %}
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-6">
                                    <h6 class="card-title mb-0" style="color: #B01E8D; font-weight: 800;">{{ business.name }}</h6>
                                </div>
                                <div class="col-6 text-right card-info">
                                    <div class="card-text">{% blocktrans %}Located at{% endblocktrans %} {{ business.location }}</div>
                                </div>
                            </div>
                            <div class="row m-0 p-0">
                                <div class="col-12 card-description m-0 p-0 sh-crop" id="descr-{{ business.pk }}">
                                    {{ business.description.strip|linebreaks|default:'No description' }}
                                </div>
                            </div>
                            <div class="row my-2" id="more-{{ business.pk }}" style="display: none;">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-3 font-weight-bold">
                                            {% blocktrans %}This service delivers to :{% endblocktrans %}
                                        </div>
                                        <div class="col-9">
                                            {% include 'includes/deliver_to_list.html' with business=business %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 my-4">
                                            <a href="mailto:info@stayhome.ch?subject=There is an issue with {{ business.name }} (ID:{{ business.id }})" target="_blank">{% blocktrans %}Use this link to report any problem with this service.{% endblocktrans %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2" id="minus-{{ business.pk }}" style="display: none;">
                                <div class="col-12">
                                    <a href="javascript:see_more('{{ business.pk }}')"><i class="far fa-minus-square"></i>&nbsp;&nbsp;{% blocktrans %}See less{% endblocktrans %}</a>
                                </div>
                            </div>
                            <div class="row mb-2" id="plus-{{ business.pk }}">
                                <div class="col-12">
                                    <a href="javascript:see_more('{{ business.pk }}')"><i class="far fa-plus-square"></i>&nbsp;&nbsp;{% blocktrans %}See more{% endblocktrans %}</a>
                                </div>
                            </div>
                        </div>
                        <nav class="card-footer navbar navbar-expand navbar-light navbar-custom p-0 pl-2 m-0">
                            <ul class="navbar-nav">
                                {% if business.website %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ business.website }}" target="_blank"><i class="icon-globe"></i>&nbsp;&nbsp;{% blocktrans %}Visit website{% endblocktrans %}</a>
                                </li>
                                {% endif %}
                                {% if business.phone %}
                                <li class="nav-item">
                                    <a class="nav-link" href="tel:{{ business.phone }}"><i class="icon-phone"></i>&nbsp;&nbsp;{% blocktrans %}Call{% endblocktrans %}</a>
                                </li>
                                {% endif %}
                                {% if business.email %}
                                <li class="nav-item">
                                    <a class="nav-link" href="mailto:{{ business.email }}"><i class="icon-envelope"></i>&nbsp;&nbsp;{% blocktrans %}Send email{% endblocktrans %}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="p-5 col-12 text-center">
                <p class="h3">{% blocktrans %}No delivery service available at that location :-({% endblocktrans %}</p>
                <p>{% blocktrans %}If you own or know a company that offers a delivery service at this location, please consider{% endblocktrans %} <a href="{% url 'add' %}">{% blocktrans %}adding the service{% endblocktrans %}</a>.</p>
            </div>
            {% endif %}
         </div>
</div>
{% endblock %}

{% block script %}
    <script>

        $(document).ready(() => {

            $('#searchInput').on('keyup', (event) => {

                // Current value
                var search = event.target.value.toLowerCase();

                // Shown items
                var shown = 0;

                // Loop on cards
                $('.card').each((id, target) => {

                    var subject = $(target).data('categories').toLowerCase() + " " + $(target).data('name').toLowerCase();

                    if (subject.includes(search)) {
                        target.style.display = "";
                        shown++;
                    } else {
                        target.style.display = "none";
                    }
                    
                });

                // No card left
                if (shown == 0) {
                    $('#allFiltered').show();
                } else {
                    $('#allFiltered').hide();
                }

                // Stop execution
                event.preventDefault();

            });

            window.see_more = (pk) => {
                $('#descr-' + pk).toggleClass('sh-crop');
                $('#more-' + pk).toggle();
                $('#plus-' + pk).toggle();
                $('#minus-' + pk).toggle();
            }

            window.filter_cat = (cat) => {
                var categoryClass = 'cat-' + cat;
                var tag = $('#filter-' + cat);
                var wasFiltered = tag.hasClass('text-info');
                if (!wasFiltered) {
                    // clear all other filters
                    $('.jqcloud-word a').removeClass('text-info');
                    $('.badge-secondary').removeClass('badge-info');
                }
                tag.toggleClass('text-info');
                $('.badge-' + cat).toggleClass('badge-info');
                $('.card').each((id, elem) => {
                    var card = $(elem);
                    if (wasFiltered) {
                        // clear filter; show all
                        card.show();
                    } else if (card.hasClass(categoryClass)) {
                        card.show();
                    } else {
                        card.hide();
                    }
                });
            }

            var loadTagCloud = () => {
                var categories = {};
                $('.badge-secondary').each((id, elem) => {
                    var name = $(elem).text();
                    categories[name] = categories[name] || { count: 0 };
                    categories[name].count++;
                });

                var words = [];
                for (var name in categories) {
                    var className = name.replace(/[ \-_/'\(\)]+/g, '-');
                    words.push({
                        text: name.replace(/^.+\/ */, ''),
                        weight: categories[name].count,
                        link: {
                            id: 'filter-' + className,
                            href: "javascript:filter_cat('" + className + "')"
                        }
                    });
                }

                var divider = Math.min(10, words.length);
                $('#cloud').jQCloud(words, {
                    autoResize: true,
                    encodeURI: false,
                    shape: 'rectangular',
                    colors: ["#212529", "#495057", "#6c757d", "#ced4da"],
                    fontSize: {
                        from: 0.6 / divider,
                        to: 0.2 / divider
                    }
                });
            };

            loadTagCloud();

        });

    </script>
{% endblock %}