{% extends "base.html" %}
{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div class="container" style="padding-top: min(25vw, 200px);">
    <div class="row">
        <div class="col-12 text-center">
            <h1 style="font-family: 'Maven Pro', sans-serif; color: #333333; font-size: min(10vw, 80px)"><span style="color: seagreen;">Stay</span>Home<span style="color: silver; font-size: 40%">.ch</span></h1>
        </div>   
    </div>
    <div class="row mt-3">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center mx-auto">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <div class="spinner-grow" id="locationLookup" role="status" style="display: none;">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <i id="locationMarker" class="icon-map-marker icon-large" style="width: 32px; height: 34px; font-size: 24px; text-align: center;"></i>
                    </span>
                </div>
                <input id="locInput" class="form-control form-control-lg" type="text" placeholder="{% trans 'Where are you ?' %}" data-url="/location" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <small class="form-text text-muted">{% blocktrans %}Enter your post code or city name. For Switzerland <i class="icon-plus-sign-alt" style="color: red;"></i> only ;-){% endblocktrans %}</small>
        </div>
    </div>
    <div class="row text-center mt-3">
        <div class="col text-center small">
            <a class="lang-select" data-lang="de" href="#">DE</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="lang-select" data-lang="en" href="#">EN</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="lang-select" data-lang="fr" href="#">FR</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="lang-select" data-lang="it" href="#">IT</a>
            <br />&nbsp;<br />
            <a href="{% url 'add' %}">{% blocktrans %}Add your business{% endblocktrans %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/mageo/stayhomech" target="_blank">{% blocktrans %}Help us on GitHub{% endblocktrans %}</a>
        </div>
    </div>
    <div class="row text-center mt-5 pt-5">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center mx-auto">
            {% if request.LANGUAGE_CODE == 'fr' %}
            <a href="https://ofsp-coronavirus.ch/" target="_blank">
            {% elif request.LANGUAGE_CODE == 'de' %}
            <a href="https://bag-coronavirus.ch/" target="_blank">
            {% elif request.LANGUAGE_CODE == 'it' %}
            <a href="https://ufsp-coronavirus.ch/" target="_blank">
            {% else %}
            <a href="https://foph-coronavirus.ch/" target="_blank">
            {% endif %}
                <img src="{% static 'pubsite/BAG_'|add:request.LANGUAGE_CODE|add:'.jpg' %}" style="width: 100%;" />
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>

        $(document).ready(() => {

            // Search display loopback
            function startSearch () {
                $('#locationMarker').hide();
                $('#locationLookup').show();
            }
            function endSearch () {
                $('#locationMarker').show();
                $('#locationLookup').hide();
            }

            // Location validation
            $('#locInput').autoComplete({
                events: {
                    searchPre: (values) => {
                        startSearch();
                        return values;
                    },
                    searchPost: (results) => {
                        endSearch();
                        return results;
                    }
                }
            }).on('autocomplete.select', (event, item) => {
                value = item.split(' ');
                npa = value.shift();
                name = value.join(' ');
                window.location = "/" + npa + "/" + name + "/";
            });

            // Language change
            $('.lang-select').on('click', (event) => {
                lang = $(event.target).data('lang');
                $.ajax({
                    url: "{% url 'set_language' %}",
                    headers: {
                        'X-CSRFToken': Cookies.get('csrftoken')
                    },
                    data: {
                        'language': lang
                    },
                    method: 'POST',
                    success: () => {
                        location.reload();
                    }
                });
            });

            // Geo-location
            navigator.geolocation.getCurrentPosition((position) => {

                // Display feedback                
                startSearch();

                // Postal code lookup
                var jqxhr = $.getJSON(
                    'https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/reverseGeocode',
                    {
                        location: position.coords.longitude + ',' + position.coords.latitude,
                        f: 'json'
                    },
                    (result) => {
                        if (!result.error) {
                            const addr = result.address;
                            if (addr.CountryCode != 'CHE') {
                                return
                            } else {
                                console.log(addr.Postal);
                                $('#locInput').val(addr.Postal).trigger('keyup');
                            }
                        } else {
                            endSearch();
                            console.debug(result);
                        }
                    }
                ).fail((error) => {
                    endSearch();
                    console.debug(error);
                });

            });

        });

    </script>
{% endblock %}