{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container-sm" style="font-size: small;">

    <div class="row border-bottom pt-3 mb-0 align-items-end">

        <div class="col-xs-12 col-lg-3">
            <h1 style="font-family: 'Maven Pro', sans-serif; color: #333333; font-size: min(max(5vw, 32px), 40px); cursor: pointer;" id="sh_logo"><span style="color: seagreen;">Stay</span>Home<span style="color: silver; font-size: 40%">.ch</span></h1>
        </div>

        <div class="col-xs-12 col-lg-9 p-0 m-0">

            <nav class="navbar navbar-expand-md m-0 p-0 justify-content-start navbar-light navbar-custom">

                {% block mgmt-content-header %}{% endblock %}

                

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'add' %}">{% blocktrans %}Add your business{% endblocktrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">{% blocktrans %}About{% endblocktrans %}</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mgmt:index' %}">{% blocktrans %}Contribute{% endblocktrans %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mgmt:logout' %}">{% blocktrans %}Log out{% endblocktrans %}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mgmt:index' %}">{% blocktrans %}Sign in{% endblocktrans %}</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                
            </nav>

        </div>

    </div>

    {% block mgmt-content %}{% endblock %}    

    

{% endblock %}
