{% extends "mgmt.html" %}
{% load i18n %}

{% block mgmt-content-header %}
    <p class="p-0 m-0 mb-2 small"><a href="/">{% blocktrans %}Go back to home{% endblocktrans %}</a></p>
{% endblock %}

{% block mgmt-content %}
        <div class="row">
            <div class="col-8 p-3 mx-auto">
                <div class="alert alert-success" role="alert">
                {% blocktrans %}Your request has been submited ! Thank you !{% endblocktrans %}
                </div>
            </div>
         </div>
{% endblock %}
