{% extends "navigation.html" %}
{% load i18n %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-8 p-3 mx-auto">
            <div class="alert alert-success my-5" role="alert">
                <h4>{% blocktrans %}Your request has been submited! Thank you!{% endblocktrans %}</h4>
                {% blocktrans %}The processing of your request may take up to 24 hours. Please be patient.{% endblocktrans %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
